extends ../layouts/default

block css
	link(href="/js/lib/blueimp-gallery/css/blueimp-gallery.min.css", rel="stylesheet")
	link(href="/sass/index.css", rel="stylesheet")

block content
	.container-fluid
			span View Model
			span.view-model
				+icon-btn("screenshot")
				+icon-btn("th-list")
				+icon-btn("th")
	if !post
		.jumbotron.text-center
			h2 Invalid post...
			p.lead Please check the url and try again
	else
		.container-fluid
			.row
				.col-md-12
					div(class="blueimp-gallery blueimp-gallery-carousel", id="blueimp-gallery-carousel")
						.slides
						h3.title
block page-js
	script(src="/js/lib/blueimp-gallery/js/blueimp-gallery.min.js")
	script.
		$.ajax({
			url: 'http://localhost:3000/json/gallery',
			success: function(xhr) {
				var galleries = []
				for(var i = 0; i < xhr.length; i++) {
					galleries.push({
						href: xhr[i].image.url,
						title: xhr[i].name,
						type: 'image/jpeg'
					})
				}

				blueimp.Gallery(
					galleries,
					{
						container: '#blueimp-gallery-carousel',
						carousel: true,
						startSlideshow: false,
						titleElement: 'h3',
						disableScroll: false
					}
				);
			}
		})


