extends ../layouts/default

block css
	link(href="/js/lib/fullpage.js/dist/jquery.fullpage.min.css", rel="stylesheet")
	link(href="/sass/index.css", rel="stylesheet")

block content
	.viewmodel-container
		//- span.view-model
			+icon-btn("screenshot")
			+icon-btn("th-list")
			+icon-btn("th")
	if !posts.length
		.jumbotron.text-center
			h2 顶呀，出错了...
			p.lead 小君也不知道是什么原因，去别的地方看看吧
	else
		.container-fluid
			.row
				.col-md-12
					div#works-container
						div.section
							each val in posts
								div.slide
									div.post-image
										div.inset-container
											img(data-src="#{val.image.url}", alt="").img-responsive
											.post-title= val.name
							//- div.slide
							//- 	h1 And a normal website under it
							//- div.slide
							//- 	h1 A great single slider!
block page-js
	script(src="/js/lib/fullpage.js/dist/jquery.fullpage.min.js")
	script(src="/js/lib/jquery-mousewheel/jquery.mousewheel.min.js")
	script.
		$(document).ready(function() {
			$('#works-container').fullpage({
				controlArrows: false,
				autoScrolling: false,
				fitToSection: false,
				lazyLoading: true,
				continuousHorizontal: true,
				afterRender: function() {
					$(this).find('.fp-tableCell img').css('max-height', $(this).find('.fp-tableCell').eq(0).height()-300);

					$(this).on('mousewheel', function(event) {
						if(!!event.deltaY) {
							$.fn.fullpage.moveSlideRight();
						}else{
							$.fn.fullpage.moveSlideLeft();
						}
					});
				}
			})
		});


